//STYLE DE NOTRE HEADER

//STYLE DE NOTRE HEADER



.header-page {

  background-color: $color-bg-dark;


  nav{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;


    padding: 10px;


    ul{
      display: flex;
      flex-direction: column;
      padding: 0;
      list-style: none;

      text-align: center;

      li{
        position: relative;


        &>ul{
          display: none;

          background-color: $color-bg-dark;

          li{
            width: 100%;
          }

        }


        &:hover>ul{
          display: block;

        }

      }


      a{
        padding: 5px 10px;
      }

    }


  }
}



@media screen and (min-width: $breakpoint-sm){

  .header-page {

    nav{
      flex-direction: row;

      ul{
        flex-direction: row;

        text-align: start;

        li>ul{
          min-width: 180px;

          position: absolute;
          z-index: 50;
          top: 100%;
        }


      }



    }
  }


}










